# Android Studio
.idea/
*.iml
*.log
app-debug.apk
app-release.apk
build/
# this doesn't seem to work for some reason...
#src/main/gen/

# Gradle
.gradle/
gradle/
gradlew
gradlew.bat
local.properties

